// 系統使用聲明事項
.declaration {
  @extend %primSection; // 大圓角，有陰影的主要區塊

  h3{ text-align: center; color: $fontColor; font-size: 1.2em;}
  &>ul, &>ol, &>p{
    line-height: 1.6;
     margin: 0 auto;
  }
  li {
    margin-bottom: 1.1em;
    &:last-child{ margin-bottom: 0; }
  }
  em{
    font-style: normal; color: $hilight;
  }

  table.caseInfo{
    border-collapse: collapse;
    width: 100%; max-width: 520px;
    padding:20px; margin: 0 auto 50px;
    font-size: 1.2em; line-height: 1.2;
    border: 16px solid $white;
    box-shadow: $shadow1 0 0 32px;
    tr+tr{ border-top: 1px solid $borderColor;}
    th, td{ 
      padding: 16px;
      font-weight: bold;
    }
    th{ 
      width: auto; text-align: right;
      padding-right: 20px;
      position: relative;
      &::after {
        content: ''; 
        position: absolute; right: 0; top: 8px;bottom: 8px;
        width: 1px;
        background-color: $borderColor;
      }
    }
    td{
      padding-left: 20px; color: $secondaryColor;
    }

  }

  @media screen and (min-width: $wwNormal){
    padding-left: 11.4%; padding-right: 11.4%;
     ul{ 
      max-width: max-content;
    }
  }
  @media screen and (min-width: $wwMaximum){
    padding-left: calc($wwMaximum*.114);
    padding-right: calc($wwMaximum*.114);
  }
}
