// 主要表單樣式
// ---------------------------------------------------------------- //
.form {
  @extend %primSection; // 大圓角，有陰影的主要區塊

  .formLayout { width: 100%; margin: 0 auto;}

  // 主標題字
  h3{
    border-bottom: 2px solid $grayLight;
    padding-bottom: 40px;
  }

}
// 藍底白字
.title {
  display: block; width: 100%;
  padding: 14px 16px 12px; margin:32px 0;
  line-height: 1.3; text-align: center;
  background-color: $primaryColor;
  color: $white;
}
// ---------------------------------------------------------------- //




// ---------------------------------------------------------------- //
// ----------------------- 表單用模組 ----------------------------- //
// ---------------------------------------------------------------- //

// 詳細地址
// ---------------------------------------------------------------- //
.addressSet {
  .roughly{
    display: flex; flex-wrap: wrap; gap: 8px;
    &>label{
      flex: 1 1 auto;
      white-space: nowrap;
      display: flex; align-items: center;

      &:first-child {
        flex: 1 0 100%;
      }
      select{
        flex: 1 1 auto;
        margin-left: 8px;
      }
    }
    &>input{
      flex: 0 1 15%; width: auto; min-width: 5em;
    }
  }

  .details{
    margin: 10px 0;
    display: flex; flex-wrap: wrap; gap:8px 24px;
    &>label{
      flex: 0 1 auto;
      white-space: nowrap;
    }
    input{
      width: 6em; margin-right: 5px;
    }
  }

  @media screen and (min-width: $wwMedium){
    .roughly {
      flex-wrap: nowrap;
      gap: 0 1.6%;
      &>label {
        flex: 1 1 42%;
        &:first-child { flex: 1 1 42%;}
        select {
          flex: 1 1 auto;
          margin-left: 8px;
        }
      }
    }

    .details{
      &>label{
        flex: 0 0 auto;
      }
    }

  }
}
// ---------------------------------------------------------------- //



// 英文姓、名欄
// ---------------------------------------------------------------- //
.fullNameSet{
  display: flex; justify-content: space-between; gap: 24px;
  &>label {
    flex: 1 1 48%;
    input { margin-left: 12px; width: calc(100% - 1em - 12px);}
  
  }
}
// ---------------------------------------------------------------- //



// 選日期套件（跳出小日曆）
// ---------------------------------------------------------------- //
.datePicker {
  position: relative; width: 50%; min-width: 16em; 
  input[type="text"], input[type="date"] {
    width: 100%; 
    padding-right: 3em;
  }
  button.date{
    position: absolute; top: 4px; right: 0; z-index: 9;
    width: calc(2.7em - 8px);  height: calc(2.7em - 8px);
    border-radius: 50%; border: none;
    background-color: $grayPale;
    transition: .15s;
    &::before {
      content: ''; display: block; width: 18px; height: 18px;
      margin: auto;
      background: url(../images/icon_date.svg) no-repeat center center;
      background-size: contain;
      transition: .15s;
    }
    &:hover, &:focus {
      background-color: $grayDark;
      &::before {filter: brightness(20);}
      &:focus {
        box-shadow: $white 0 0 0 1px inset, $grayDark 0 0 0 2px;
      }
    }
  }
}
// ---------------------------------------------------------------- //



// checkbox and radio （單、複選項）
// ---------------------------------------------------------------- //
.optionPool{
  display: flex; flex-wrap: wrap;
  gap: 5px 16px;
  &>label{
    flex: 0 0 auto;
    white-space: nowrap;
    padding: .6em 12px .6em 8px;
    border-radius: $radius1;
    cursor: pointer;
    input[type="radio"], input[type="checkbox"]{
      margin-right: 8px;
    }
    &:hover{
      box-shadow: $grayLight 0 0 0 1px;
    }
    &:has(input:checked){
      box-shadow: $grayDark 0 0 0 1px;
      color: $primaryColor;
    }
  }
}
// ---------------------------------------------------------------- //


// 表單輸入錯誤的 提示、警告、錯誤訊息；說明文字
// ---------------------------------------------------------------- //
.msg{
  --color-info: #00529B;
  --color-warning: #C23E00;
  --color-error: #C40000;
  --bgc-info: #CFE5FC;
  --bgc-warning: #FFEFCF;
  --bgc-error: #FDD7DE;

  display: none; position: relative;
  padding:10px 38px 9px 40px; margin: 5px 0;
  border-radius: $radius;
  font-size: .83em; line-height: 1.3;
  &::before{
    content: ''; position: absolute; left: 10px; top: 7px;
    width: 24px; height: 24px; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
  }

  &.info {
    color: var(--color-info);
    background-color:var(--bgc-info);
    &::before{  
      background-image:url(../images/icon_msg_hint.svg);
    }
  }
  &.warning{ 
    color: var(--color-warning);
    background-color:var(--bgc-warning);
    &::before{
      background-image:url(../images/icon_msg_warning.svg);
    }
  }
  &.error{
    color: var(--color-error);
    background-color:var(--bgc-error);
    &::before{
      background-image:url(../images/icon_msg_error.svg);
    }
  }

  button.closeThis{
    --width:24px;
    --bar-length:12px;
    --bar-thick:2px;
    background-color: transparent;
    position: absolute; right: 5px; top: 7px;
    border-radius: 50%;
    &::before, &::after { background-color: $grayDark}
    &:hover, &:focus { 
      background-color: $grayDark;
      &::before, &::after { background-color: $white;}
    }
  }
}
// ---------------------------------------------------------------- //



// 其他提示或說明文字
// ---------------------------------------------------------------- //
.note, .hint{
  line-height: 1.6;
}
.hint {
  color: $fontColorLight; margin: 4px;
  font-size: .89em;
}
.note {
  &.important { color: $hilight;}
}
// ---------------------------------------------------------------- //



// ---------------------------------------------------------------- //
// 一段文字後面跟著 是／否 選項
.aloneInput {
  line-height: 1.6;
  .optionPool{ display: inline-block; margin-left: 16px;}
}

// 前面有一個 checkbox 或 radio 的一段文字
.aloneCheck {
  line-height: 1.6;
}
// ---------------------------------------------------------------- //




// 提示訊息：「系統已自動儲存當前進度」
// ---------------------------------------------------------------- //
.savingMsg {
  display: block; width: max-content;
  padding: 1em 1.5em; margin: 40px auto;
  font-size: .83em; line-height: 1;
  border-radius: 2em;
  background-color: $grayLight; color: $fontColorLight;
}
// ---------------------------------------------------------------- //
