form{
  display: block; margin: 0;
}

input, select, textarea, button {
  font-size: inherit;
}
// 文字輸入框
// ---------------------------------------------------------------- //
input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"]{
  padding: 0 .6em; margin: 5px 0; height: 2.7em;
  border-radius: $radius;
  border: 1px solid $grayLight;
  background-color: $white;
  color: $secondaryColor30;

  &.fullWidth {width: 100%;}
  &.hightLightThis { border-color: $hilight;}

  &:hover{
    border-color: $grayDark;
  }
  &:focus {
    border-color: $grayDark;
    box-shadow: $grayDark 0 0 0 1px;
    outline: none;
  }

  &::selection {
    background-color: $fontColorLight; color: $white;
  }
  &[readonly]{
    background-color: $grayLight; color: $fontColor;
    border-color: $grayLight;
    &:focus{box-shadow:none;}
  }

  @media screen and (max-width: calc($wwNormal - 1px)){
    // &.fullWidth { width: calc(100% - 1.2em - 2px);}
  }

}



// ---------------------------------------------------------------- //


// 下拉選單
// ---------------------------------------------------------------- //
select {
  height: 2.8em;
  height: calc(2.8em - 2px);
  margin: 5px 0; padding: 0 40px 0 .6em;
  border-radius: $radius;
  border: 1px solid $grayLight;
  background-color: $white;
  color: $primaryColor;

  &:hover{
    border-color: $grayDark;
  }
  &:focus {
    border-color: $grayDark;
    box-shadow: $grayDark 0 0 0 1px;
    outline: none;
  }

    &.fullWidth {width: 100%;}
}
// ---------------------------------------------------------------- //


// 按鈕
// ---------------------------------------------------------------- //
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: pointer;
  height: 2.7em;margin: 5px;
  border-radius: $radius;
  outline: none;
}
// ---------------------------------------------------------------- //


// ---------------------------------------------------------------- //
input[type="radio"],
input[type="checkbox"]{
  width: 1.2em; height: 1.2em;
  margin: -3px 5px 0 0;
  vertical-align: middle;
  cursor: pointer;
  
  &:focus {
    outline: none;
    // box-shadow: $grayDark 0 0 0 1px;
  }
}
// ---------------------------------------------------------------- //



// 選擇檔案
// ---------------------------------------------------------------- //
label.fileButton{
  display: block;
  font-size: 1em; font-weight: bold;
  border-radius: $radius;
  height: 3em; line-height: 3; text-align: center;
  @extend %gradient2;
  color: $white;
  box-shadow:$white 0 0 0 0 inset, $secondaryColor 0 0 0 0, 1px 3px 6px 0 rgb(0 0 0 / 0.3);
  cursor: pointer;

  &::before {
    content: ''; display: inline-block; vertical-align: middle;
    width: 20px;height: 20px; margin-right: 8px;
    background: url(../images/icon_folder.svg) no-repeat 0 0;
    background-size: 100% auto;
  }

  input[type="file"] { 
    font-size: 0; width: 0;
  }
}
// ---------------------------------------------------------------- //



// 瀏覽電腦檔案
// ---------------------------------------------------------------- //
label.browseFile{
  display: block;
  font-size: .89em; font-weight: bold;
  border-radius: $radius;
  height: 2.5em; line-height: 2.6; text-align: center;
  box-shadow:$primaryColor 0 0 0 1px; color: $primaryColor;
  cursor: pointer;
  transition: .2s;

  input[type="file"] { 
    font-size: 0; width: 0; border: none; background-color: transparent;
  }

  &:hover{
    background-color: $white;
  }

  &:has(input:focus) { 
    background-color: $white;
    box-shadow:$primaryColor 0 0 0 2px;  
  }
}
// ---------------------------------------------------------------- //



