// 表單排版表格
// ---------------------------------------------------------------- //
table.formLayout {
  width: 100%; margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  tr {
    border-bottom: 1px dashed $grayLight;
    &:last-child {border-bottom: none;}
  }
  th, td {
    padding:16px 8px;
    vertical-align: top;
  }
  
  th, td:nth-child(odd) {
    color: $fontColor;
    text-align: right;
    width: 15%;
    padding-left: 20px; padding-top: calc(.9em + 16px);
  }
  td:nth-child(even) {
    width: 35%;
    text-align: left;

    &[colspan="3"] {width: auto;}
  }

  @media screen and (max-width: calc($wwNormal - 1px)){
    tr{
      display: block;
      border-bottom:none;
      &:last-child td:nth-child(even) {border-bottom: none;}
    }
    th, td{
      display: block; padding: 0;
    }
    th, td:nth-child(odd) {
      width: auto;
      text-align: left; padding:24px 0 4px;
    }
    td:nth-child(even){
      width: auto;
      padding: 0 0 24px;
      border-bottom: 1px dashed $grayLight;

      .datePicker{ width: 100%; }
    }
  }

  @media screen and ( max-width: calc($wwMedium - 1px) ) {
  }
}
// ---------------------------------------------------------------- //



// 延伸填寫的表單
// ---------------------------------------------------------------- //
.formExtend {
  border: none; padding: 0; margin: 50px 0;

  table.formLayout,
  .note,
  .aloneInput,
  .aloneCheck {width: 90%;}
  
  table.formLayout{
    background-color: $grayPale;
    &::before, &::after { content: ''; display: block; height: 44px;}
    td:nth-child(even):last-child { padding-right: 8%;}
    th, 
    td:nth-child(odd){padding-left: 8px;
      br{display: none;}
    }
  }

  .note, .aloneInput, .aloneCheck { margin: 32px auto;}
  .aloneCheck {display: block;}

  @media screen and ( max-width: calc($wwNormal - 1px) ) {
    table.formLayout{
     td:nth-child(even):last-child { padding-left: 16px; padding-right: 16px;}
     th, td:nth-child(odd){padding-left: 16px;}
   }
  }

  @media screen and ( max-width: calc($wwMedium - 1px) ) {
    table.formLayout{width: 100%;}

    .note,
    .aloneInput,
    .aloneCheck {width: auto;}
  }
}
// ---------------------------------------------------------------- //
