// 資料表格容器
// ---------------------------------------------------------------- //
.meta{
  padding: 48px 0;margin: 16px auto 64px;
  background-color: $grayPale;

  table.data, .dataRef { width: 90%;}

  .dataRef {
    margin: 0 auto;
    font-weight: bold; text-align: center;
    &:has(+ table.data)  {
      border-bottom: 1px solid $grayLight;
      padding-bottom: 24px;
      margin-bottom: 24px;
    }
  }

  // 親屬及子女
  .familyMembers {
    margin-top: 24px;
    .meta{
      width: 90%; margin: 0 auto 24px;
      padding: 0;
      background-color: $white;
      box-shadow: 0 2px 8px 0 $shadow1;
      .caption{
        background-color: #E1E7F7;
        font-weight: bold; text-align: center;
        padding:16px 24px;
      }
      table.data {
        width: 100%;
        &::before, &::after {
          content: ''; display: block; height: 24px;
        }

        &:nth-of-type(even) {
          background-color: #f6f6f6;
        }
      }
    }

  }

  // 上傳文件
  &.uploadFiles {
    display: flex; align-items: flex-start;
    justify-content: space-between;
    &>.photo {
      flex: 0 0 49%;
      img{
        display: block; margin: 0 auto;
        width: 96%; height: 360px;
        object-fit: contain;
      }
    }
    &>.data {
      flex: 0 0 49%;
      th, td { width: 50%;}
    }
  }

  @media screen and ( max-width: calc($wwNormal - 1px) ) {
    &.uploadFiles {
      &>.photo { flex-basis: 38%; }
      &>.data { 
        flex-basis: 60%;
        tr { flex-wrap: nowrap;}
        th { flex-basis: 50%;}
        td { flex-basis: 50%;}
      }
    }
    
  }

  @media screen and ( max-width: calc($wwMedium - 1px) ) {

    table.data, .dataRef { width: 94%;}
    .familyMembers {
      .meta{ width: 94%;}
    }

    &.uploadFiles {
      flex-wrap: wrap;
      &>.photo {flex-basis: 100%;}
      &>.data{
        margin: 24px auto 0; flex-basis: 94%;
        th, td { width: 50%;flex-basis: 50%; }
      }
    }

  }

}
// ---------------------------------------------------------------- //



// 資料表格
// ---------------------------------------------------------------- //
table.data{
  width: 100%; margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.3;

  th, td {
    padding: 16px;
    vertical-align: top;
  }
  
  th {
    position: relative; width: 20%;
    text-align: right;
    font-weight: normal;
    color: $fontColor;
    &::after {
      content: '';
      position: absolute; top: 17px; right: 0; 
      width: 1px; height: 18px;
      background-color: $grayDark;
    }
    &:empty::after {display: none;}
  }
  
  td {
    width: 30%;
    padding-right: 24px;
    color: $fontColorVar;

  }

  @media screen and ( max-width: calc($wwNormal - 1px) ) {

    tr{display: flex; flex-flow: row wrap;}
    th{flex: 0 0 35%; padding-left: 0;}
    td{flex: 0 0 65%; padding-right: 0; word-break: break-all;}

  }

  @media screen and ( max-width: calc($wwMedium - 1px) ) {
  }
  

}
// ---------------------------------------------------------------- //



// 預覽送出
// ---------------------------------------------------------------- //
.preview {
  @extend %primSection; // 大圓角，有陰影的主要區塊
  padding-left: 5%; padding-right: 5%;

  h3{
    border-bottom: 2px solid $grayLight;
    padding-bottom: 40px;
  }

  h4 {
    position: relative;
    padding: 2px 0 0 20px; margin:44px 0 20px;
    font-size: 1.11em; line-height: 1.1;
    color: $fontColorDark;
    &::before {
      content: ''; position: absolute; left: 0;top: 0;
      width: 8px; height: 24px;
      background-color: $primaryColor;
    }
  }

  .form{
    width: 100%; margin: 0; padding: 0;
    box-shadow: none;
    border-radius: 0;
  }

  @media screen and ( max-width: calc($wwNormal - 1px) ) {
    
  }
  
  @media screen and ( max-width: calc($wwMedium - 1px) ) {
    padding-left: 3%; padding-right: 3%;
  }


}
// ---------------------------------------------------------------- //
