// 版頭查詢
// ---------------------------------------------------------------- //
.search{
  position: fixed; top: 60px; left: 0; right: 0;
  z-index: 199;
  padding: 16px;
  font-size: 1em;
  background-color: $secondaryColor30;
  box-shadow: rgb(0 0 0 / 0.2) 0 6px 9px -3px;

  input, button { font-size: 1em;border: none; outline: none;}
  
  input[type="text"] {
    width: calc(100% - 3.2em);
    height: 2.67em;
    padding: 0 3em 0 1em; margin: 0;
    border-radius: 2em;
    font-size: 1em;
    background-color: $white;
    border: none;
    transition: .2s;
    &:hover{
      box-shadow:$secondaryColor 0 0 0 0 inset,$white 0 0 0 2px;
      
    }
    &:focus {
      box-shadow:$secondaryColor 0 0 0 2px inset, $white 0 0 0 3px;
    }
  }
  
  button {
    position: absolute; top: 16px; right: 16px;
    width: 2.67em; height: 2.67em;
    padding: 0; margin: 0;
    text-indent: -20em; // 隱藏文字
    overflow: hidden;
    border-radius: 50%;
    background-color: $white;
    transition: .2s;
    &::before{
      content: ''; display: block;
      width: 100%; height: 100%;
      background:transparent url(../images/icon_search.svg) no-repeat center center;
      background-size: 20px 20px;
      transition: .2s;
    }
    &:hover {
      box-shadow: $white 0 0 0 2px;
    }
    &:focus {
      background-color: $secondaryColor;
      box-shadow: $white 0 0 0 3px;
      &::before {
        filter: brightness(4);}
    }
  }

  @media screen and (min-width: $wwNormal){
      position: relative;width: 440px;
      padding: 0; top: auto; left: auto; right: auto;
      box-shadow: none;
      background-color: transparent;
      input[type="text"] { width: 100%; }
      button{
        top: 4px; right: 4px;
        width: calc(2.67em - 8px); height: calc(2.67em - 8px);
        background-color: transparent;
      }

  }
}
// ---------------------------------------------------------------- //



// 表單下方按鈕群
// ---------------------------------------------------------------- //
.btnDiv {
  display: flex; justify-content: center; gap: 16px;
  flex-flow: row wrap;
  padding: 24px 0; margin: 40px auto;
  &>*{
    flex: 1 1 auto;
  }
  .button{
    margin: 0;
    &>a { display: block; text-decoration: none; color: $fontColorLight;}
  }

  button, 
  input[type="button"], input[type="submit"], input[type="reset"],
  .button>a {
    padding: 0 1em;
    height: 3.25em; margin: 0;
    line-height: 3.25;
    font-size: 1em;
    font-weight: bold; text-align: center; 
    border: none; outline: none;
    border-radius: $radius1;

    @extend %gradient3;
    color: $fontColorLight;
    box-shadow:$grayDark 0 0 0 0 inset, $white 0 0 0 0, 1px 3px 6px 0 rgb(0 0 0 / 0.15);
    transition: .2s;
    &:hover{
      translate: 0 -5px;
      box-shadow:$grayDark 0 0 0 0 inset, $white 0 0 0 0, 0 12px 12px -4px rgb(0 0 0 / 0.15);
    }
    &:focus {
      translate: 0 0;
      box-shadow:$grayDark 0 0 0 1px inset, $white 0 0 0 3px, 0 3px 8px 1px rgb(0 0 0 / 0.2);
    }
  }
  button, 
  input[type="button"], input[type="submit"], input[type="reset"] {
    &.submit{
      @extend %gradient2;
      color: $white;
      box-shadow:$white 0 0 0 0 inset, $secondaryColor 0 0 0 0, 1px 3px 6px 0 rgb(0 0 0 / 0.3);

      &:hover{
        translate: 0 -5px;
        box-shadow:$white 0 0 0 0 inset, $secondaryColor 0 0 0 0, 0 12px 12px -4px rgb(0 0 0 / 0.3);
      }
      &:focus {
        translate: 0 0;
        box-shadow:$white 0 0 0 1px inset, $secondaryColor 0 0 0 3px, 0 3px 8px 1px rgb(0 0 0 / 0.35);
      }   
    }

  }

  // 有隱藏的說明文字
  &>.hasHiddenHint{
    position: relative;
    button:not(.hiddenHint) { display: block; width: 100%; }
    .hiddenHint {
      position: relative; left: 50%;
      translate: -50% 0;
    }
  }  

  button.hiddenHint {
    margin:5px 0 0; padding: 0 6px 0 24px;
    border: none; background: none; box-shadow: none;
    height: 1.8em; line-height: 1.8; border-radius: 1em;
    display: inline-block; width: auto; min-width: 0;
    font-weight: normal; font-size: .9375rem;
    background: url(../images/icon_info.svg) no-repeat 1px .2em;
    color: $hilight;
    translate:  0 0;

    &:hover, &:focus {
      box-shadow: $hilight 0 0 0 1px;
      &+.hintContent {display: block;}
    }
  }


  .hintContent{
    display: none;  
    position: absolute; left: 6%; top: auto;
    width:88%; padding:22px 16px 16px;
    margin-top: 3px; 
    font-size: 1rem; line-height: 1.8;
    color: $fontColor;
    background: rgb(255 255 255 / 0.92);
    box-shadow: 0 15px 55px -15px $shadow2;
  }

  @media screen and (min-width: $wwMedium){
    gap: 40px;
    &>*{
      max-width: 270px;
    }
    button, 
    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    .button>a { font-size: 1.11em;}

    .hintContent{
      width: 290px; left: 50%; margin-left: -2em;
    }
  }

}
// ---------------------------------------------------------------- //


// 上傳區（拖曳檔案至此 或 瀏覽電腦檔案）
// ---------------------------------------------------------------- //
.uploadArea{
  padding: 40px;
  text-align: center;
  background-color: $grayPale;
  border: 2px dashed $borderColor;
  border-radius: $radius1;

  &::before {
    content: ''; display: inline-block;
    width: 36px;height: 36px;
    background: url(../images/icon_upload.svg) no-repeat 0 0;
    background-size: 100% auto;
  }
  p{
    margin: 16px auto;

    &.or{
      position: relative;
      font-size: .78em;
      height: 2em; line-height: 2;

      &::before, &::after {
        position: absolute; top: 50%;
        content: ''; display: inline-block;
        width: 100px; height: 1px;
        background-color: $borderColorLight;
      }
      &::before {
        right: calc(50% + 15px);
      }
      &::after {
        left: calc(50% + 15px);
      }
    }
  }

  .browseFile {
    margin: 16px auto 0;
    width: 10em;
    input[type="file"] {width: 0; font-size: 0;}
  }

  &:hover{
    border-style: solid;
    &::before {
      filter: brightness(.5);
    }
  }
}
// ---------------------------------------------------------------- //




// 檔案上傳狀態、進度條
// ---------------------------------------------------------------- //
.uploadStatus {
  position: relative;
  margin: 24px 0; padding: 16px;
  min-height: 90px;
  border: 1px solid $borderColorLight;
  box-shadow: 0 2px 8px 0 $shadow1;
  border-radius: $radius1;
  overflow: hidden;

  .fileInfo {
    float: left;
    position: relative;
    padding-left: 56px;
    .fileType{
      position: absolute; left: 0; top: 8px;
    }

    ul{
      list-style: none; margin: 0;padding: 0;
      line-height: 1.2;
      color: $fontColorLight;
      outline-offset: -1px;
      overflow: hidden;
      li{
        &:not(.fileName) {
          float: left; position: relative;
          padding-right: 24px;
          font-size: .78em;
          &::after {
            content: '';
            position: absolute; right: 10px; top: .4em;
            width: 4px; height: 4px; border-radius: 2px;
            background-color: $fontColorLight;
          }
        }
        &:last-child{
          padding-right: 4px;
          &::after { display: none; padding-right: 0;}
        }
        &.fileName {
          float: none;
          margin-bottom: 14px;
          font-weight: bold;font-size: .89em;
          color: $fontColorDark;
        }
        &.status {
          color: #007AB8;
          padding-left: 22px;
          background-repeat: no-repeat;
          background-size: 18px;
          background-position: 1px -1px;
          background-image: url(../images/icon_upl_ing.svg);
          &.done{ color: #00754B;background-image: url(../images/icon_upl_done.svg);}
          &.fail { color: #C40000;background-image: url(../images/icon_upl_fail.svg);}
        }
      }
    }
  }

  &:has(.status.fail) {
    .fileType ,
    .fileName {opacity: .6;}
  }

  // 刪除、暫停、取消
  .funcButtons {
    float: right; margin-top: 6px;
    button{
      width: 40px;height: 40px;
      margin: 0; padding: 0;
      border-radius: 50%;
      border: none; box-shadow: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 24px;
      background-position: center center;
      transition: .2s;
      &.delete { background-image: url(../images/icon_delete.svg);}
      &.pause {background-image: url(../images/icon_pause.svg);}
      &.cancel {background-image: url(../images/icon_cancel.svg);}

      &:hover{ background-color: $gray70;}
      &:focus{
        filter: brightness(2.5);
        background-color: #333;
      }
    }

    &:has(+.progressBar) { margin-bottom: 12px;}
  }


  // 進度條
  .progressBar{
    clear: both;display: block; position: relative;
    height: 8px; border-radius: 4px;
    background-color: $gray70;
    

    .bar {
      content: ''; position: absolute; left: 0; top: 0; bottom: 0;
      background-color: $secondaryColor;
      border-radius: 4px;
    }
  }

}
// ---------------------------------------------------------------- //



// 檔案類別圖示
// ---------------------------------------------------------------- //
.fileType{
  display: block; width: 44px; height: 40px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;

  &.jpg{background-image: url(../images/fileType_jpg.svg);}
  &.jpeg{background-image: url(../images/fileType_jpeg.svg);}
  &.png{background-image: url(../images/fileType_png.svg);}
  &.bnp{background-image: url(../images/fileType_bnp.svg);}
  &.pdf{background-image: url(../images/fileType_pdf.svg);}
  &.doc{background-image: url(../images/fileType_doc.svg);}
  &.ppt{background-image: url(../images/fileType_ppt.svg);}
  &.zip{background-image: url(../images/fileType_zip.svg);}
  &.txt{background-image: url(../images/fileType_txt.svg);}
  &.mov{background-image: url(../images/fileType_mov.svg);}
  &.mp3{background-image: url(../images/fileType_mp3.svg);}
  &.wmv{background-image: url(../images/fileType_wmv.svg);}

}
// ---------------------------------------------------------------- //



// 應檢附文件 說明
// ---------------------------------------------------------------- //
.rules {
  background-color: $gray70;
  line-height: 2;
  padding: 32px 5%;
  width: 92%; margin: 0 auto;
}
// ---------------------------------------------------------------- //

// 排序
.sorting {
  text-align: right;
  margin-bottom: 8px; margin-right: 8px;
}