.siteFooter{
  position: relative;
  background: linear-gradient(120deg, #4250a8 30%, #2b367b 85%);
  a{ color: $white;  }
  .contactInfo{
    padding: 66px 4% 60px; margin: 0 auto;width: fit-content;
    line-height: 1.5;
    color: $white;
    a{
      font-weight: bold; text-decoration: underline;
      &:hover{
        outline: 1px solid rgb(255 255 255 / .6);
        outline-offset: 2px;
        text-decoration: none;
      }
      &:focus{
        outline: 2px solid $white;
        outline-offset: 2px;
        text-decoration: none;
      }
    }
    p{
      margin: 0;
      &+p{ margin-top: .6em; }
    }
  }

  .base{
    padding:32px 2.5%;
    font-size: .89em; text-align: center;
    background-color: #222b62; color: #fff;
    line-height: 1.5;

    &>ul{
      list-style: none; margin: 0 auto 8px; padding: 0;
      line-height: 1.1;
      li{
        display: inline-block;
        margin: 0 8px 15px; padding: 0;
        a{
          display: block; position: relative;
          text-decoration: none; 
          &::after{
            content: '';
            position: absolute; left: 0; bottom: -1px;
            width: 100%; height: 1px;
            background-color: rgb(255 255 255 / .6);
            transition: .2s;
          }
          &:hover {
            &::after {
              height: 2px; bottom: -2px;
              background-color: $white;
            }
          }
          &:focus {
            outline: 2px solid $white;
            outline-offset: 2px;
            &::after {
              background-color: transparent;}
          }
        }        
      }
    }
    &>div{
      p{margin: 0;}
    }
    .badge{
      display: block;
      width: 196px;
      margin: 32px auto 0;
      a{display: block; margin: 0 auto;
        &:hover{box-shadow: $white 0 0 0 1px;}
        &:focus{box-shadow: $white 0 0 0 2px;}
      }
      img{display: block; width: 100%;}
    }
  }

  @media screen and (min-width: $wwMedium){
    .base{
      position: relative;
      padding-right: 200px;
      text-align: left;

      &>ul{
        margin-left: 0;
        li{
          margin:0 16px 8px 0;
        }
      }
      .badge{
        margin: 0;
        position: absolute; right: 2.5vw; top: 24px;
        width: 168px;
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    .base{
      display: flex; justify-content: center; align-items: center;
      padding-right: 5%; padding-left: 5%;
      &>ul{
        flex: 1 1 50%;
        margin: 0;
        max-width: max-content;
        display: flex; flex-wrap: nowrap;
        line-height: 1.4;
        li{ 
          flex:0 0 max-content;
          margin: 0 16px 0 0;
          a{
            // word-break: break-all;
          }
        }
      }
      &>div{
        flex: 1 1 calc(100% - 50% - 240px);
        padding-left: 25px; margin-left: 16px;
        border-left: 1px solid #fff;
        text-align: left;
      }
      .badge{
        position: static;
        flex: 0 0 168px;
        // flex: 0 0 20%;
        margin-top: 0;
        margin-left: 20px;
      }
    }
  }

  @media screen and (min-width: $wwMaximum){
    .base{
      padding-left: calc(50vw - $wwMaximum*.45);
      padding-right: calc(50vw - $wwMaximum*.45);
    }
  }
}